:host
  display: block
  padding: 30px
  font-family: Arial, sans-serif

h1
  margin-bottom: 20px
  color: #383838

button
  height: 48px
  padding: 0 20px
  border: none
  border-radius: 8px
  background: #1c4980
  color: white
  cursor: pointer
  font-size: 14px

table
  width: 100%
  border-collapse: collapse
  margin-top: 20px

th
  background: #383838
  color: white

th,
td
  padding: 14px
  border: 1px solid #ddd
  text-align: left

.chart-container
  width: 400px
  margin-top: 40px

.modal-backdrop
  position: fixed
  top: 0
  left: 0
  right: 0
  bottom: 0
  background: rgba(0,0,0,0.5)

  display: flex
  justify-content: center
  align-items: center

.modal
  background: white
  padding: 24px
  border-radius: 12px
  min-width: 400px

.table-container
  max-height: 300px
  overflow-y: auto
  margin-top: 20px